<template>
    <div class="container-fluid">
        <div class="row">
            <div class="col mt-3">
                <div class="card text-white bg-info">
                    <div class="card-body">
                        <h5 class="card-title">10023</h5>
                        <p class="card-text">Daily Sales Notification</p>
                    </div>
                </div>
            </div>
            <div class="col mt-3">
                <div class="card text-white bg-warning">
                    <div class="card-body">
                        <h5 class="card-title">10023</h5>
                        <p class="card-text">Daily Sales Notification</p>
                    </div>
                </div>
            </div>
            <div class="col mt-3">
                <div class="card text-white bg-primary">
                    <div class="card-body">
                        <h5 class="card-title">10023</h5>
                        <p class="card-text">Daily Sales Notification</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col mt-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Welcome, Administrator!</h5>
                        <p class="card-text">Cloud Inventory Management System</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<style lang="scss">
</style>