<template>
    <div class="sidenav__container">
        <div class="sidenav__header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        Main Navigation
                    </div>
                </div>
            </div>
        </div>
        <div class="sidenav__links">
            <div class="container-fluid">
                <div class="row">
                    <div class="col p-0">
                        <ul>
                            <router-link to="/dashboard">
                                <li>
                                    <i class="fas fa-home fa-lg"></i>
                                    <span>Home</span>
                                </li>
                            </router-link>
                            <router-link to="/product">
                                <li>
                                    <i class="fas fa-box fa-lg"></i>
                                    <span>Product</span>
                                </li>
                            </router-link>
                            <router-link to="/brand">
                                <li>
                                    <i class="fas fa-tag fa-lg"></i> 
                                    <span>Brand</span>
                                </li>
                            </router-link>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {

    }
</script>

<style lang="scss">
    .sidenav__container {
        background-color: #3498db;
        min-height: 100vh;
        height: 100%;
        .sidenav__header {
            background-color: #2980b9;
            color: #fff;
            text-transform: uppercase;
            font-size: 12px;
            padding: 10px 0px;
        }
        .sidenav__links {
            display: flex;
            flex-direction: column;
            ul {
                list-style: none;
                padding-left: 0px;
                margin-bottom: 0px;
                li {
                    padding: 6px 15px;
                    span {
                        display: inline-block;
                        margin-left: 5px;
                    }
                    &:hover {
                        background-color: #3c9ee0;
                    }
                }
                a {
                    font-size: 12px;
                    text-decoration: none;
                    text-transform: uppercase;
                    color: #fff;
                }
            }
        }
    }
</style>
