<template>
    <div id="app">
        <div class="page__header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="nelsoft__brand">
                            NSI CIRMS
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-6">
                        <ul class="nav-menu">
                            <li class="nav-menu-item">
                                <button>
                                    <i class="fas fa-cogs fa-lg"></i>
                                </button>
                            </li>
                            <li class="nav-menu-item">
                                <button>
                                    <i class="fas fa-bell fa-lg"></i>
                                </button>
                            </li>
                            <li class="nav-menu-item">
                                <button>
                                    <i class="fas fa-sign-out-alt fa-lg"></i>
                                </button>
                            </li>
                            <li class="nav-menu-item">
                                <div class="dropdown">
                                    <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Administrator
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="page__container">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-2 p-0">
                        <navbar></navbar>
                    </div>
                    <div class="col-md-10 p-0">
                        <router-view class="page__content"></router-view>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import navbar from './components/Sidenav'

    export default {
        name: 'App',
        components: {
            navbar
        }
    }
</script>

<style lang="scss">
    @import './styles/global.scss';
    @import '../node_modules/bootstrap/scss/bootstrap.scss';
    @import '../node_modules/@fortawesome/fontawesome-free/css/all.css';

    .nelsoft__brand {
        color: #fff;
        letter-spacing: 2px;
        font-size: 20px;
        padding-top: 3px;
    }
    .nav-menu {
        float: right;
        list-style: none;
        margin-bottom: 0px;
        .nav-menu-item {
            display: inline-block;
            color: #fff;
            button {
                background-color: transparent;
                border-radius: 0px;
                color: #fff;
                font-size: 14px;
                height: 40px;
                border: none;
                outline: none;
                padding: 0px 15px;
                &:hover {
                    background-color: #2e4256;
                    cursor: pointer;
                }
            }
        }
    }
</style>
